.reviews-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #272733;
}

.reviews-block h1 {
    font-family: Lato, sans-serif;
    color: white;
}

.carousel {
    width: 50%;
    height: 166px;
    display: flex;
    align-items: center;
}

.button {
    position: relative;
    width: 40px;
    height: 40px;
    background: #43ABF0;
    color: #fff;
    border: 1px solid #000;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 16px;
    opacity: 0.5;
}

#button-back {
    right: calc(100% - 16px);
    border-radius: 0 50% 50% 0;
}

#button-next {
    right: 45px;
    border-radius: 50% 0 0 50%;
}

.card-container {
    width: 100%;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    gap: 8px;
    flex: 0 0 calc(100% - 16px);
}

.card-container::-webkit-scrollbar {
    display: none;
}

.card {
    min-width: 150px;
    height: 150px;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: gray;
    border: 1px solid #4F5873;
    color: #4a544c;
    border-radius: 8px;
}

.card:hover {
    background: #4F5873;
    transition: 0.5s ease;
}


.card__header__info {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
    padding: 4px;
    background: #272733;
    color: #fff;
    border-radius: 8px 8px 0 0;
    margin-top: -20px;
    margin-left: -2px;
}

.card__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    padding: 8px;
    background: #fff;
    color: #272733;
    border-radius: 0 0 8px 8px;
}

@media screen and (max-width: 768px) {
    .card__header__info span {
        font-size: 12px;
    }

    .carousel {
        width: 90%;
    }
}