.reviews-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #272733;
}

.reviews-block h1 {
    font-family: Lato;
    color: white;
}

.carousel {
    width: 50%; /* Width of carousel */
    height: 166px; /* Height of carousel */
    display: flex; /* Set inline elements */
    align-items: center; /* Centering elements */
}

.button {
    position: relative; /* Set button in right position */
    width: 40px; /* Width of button */
    height: 40px; /* Height of button */
    /* Style button */
    background: #43ABF0;
    color: #fff;
    border: 1px solid #000;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 16px;
    opacity: 0.5;
}

#button-back {
    right: calc(100% - 16px); /* For set button in left position */
    border-radius: 0 50% 50% 0; /* Set border radius */
}

#button-next {
    right: 45px; /* For set button in right position */
    border-radius: 50% 0 0 50%; /* Set border radius */
}

.card-container {
    width: 100%; /* Width of card container */
    display: flex; /* Set inline elements */
    overflow-x: auto; /* Set overflow in horizontal scroll */
    overflow-y: hidden; /* Hidden overflow in vertical scroll */
    scroll-snap-type: x mandatory; /* Force the scroll to snap to the start of a scroll-snap area */
    gap: 8px; /* Set gap between cards */
    flex: 0 0 calc(100% - 16px); /* Set width of card container */
}

.card-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar in Chrome, Safari and Opera */
}

.card {
    min-width: 150px; /* Set min width of card */
    height: 150px; /* Set height of card */
    scroll-snap-align: start; /* Set scroll snap */
    /* Style card */
    display: flex;
    align-items: center;
    flex-direction: column;
    background: gray;
    border: 1px solid #4F5873;
    color: #4a544c;
    border-radius: 8px;
}

.card:hover {
    background: #4F5873; /* Set background color when hover */
}


.card__header__info {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
    padding: 4px;
    background: #272733;
    color: #fff;
    border-radius: 8px 8px 0 0;
    margin-top: -20px;
    margin-left: -2px;
}

.card__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    padding: 8px;
    background: #fff;
    color: #272733;
    border-radius: 0 0 8px 8px;
}

@media screen and (max-width: 768px) {
    .card__header__info span {
        font-size: 12px;
    }

    .carousel {
        width: 90%;
    }
}